In [12]:
import requests
import pandas as pd

In [13]:
API_url = "https://ecommerce-api-production-50293729231.europe-west10.run.app"

In [14]:
# Carry out health check
response = requests.get(url=API_url + '/')
print(response.status_code)
response.json()

200

{'health_check': 'OK'}

In [15]:
# Carry out info check
response1 = requests.get(url=API_url + '/info')
print(response1.status_code)
response1.json()

200

{'name': 'Product Recommendation',
 'Description': 'Search API to identify similar products to a customers previous purchases'}

In [16]:
# Test getting recommended products
params = {"customer_id": 2}
response2 = requests.get(url=API_url + '/recommend_products', params=params)
print(response2.status_code)
pd.DataFrame(response2.json())

200

Empty DataFrame
Columns: [id, cost, category, name, brand, retail_price, department, sku, distribution_center_id]
Index: []

In [17]:
# Test upcoming shopper prediction function
response3 = requests.get(url=API_url + '/upcoming_shoppers')
print(response3.status_code)
pd.DataFrame(response3.json())

200

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at,user_geom
0,36054,Samuel,Jones,samueljones@example.com,27,M,Acre,8152 Kevin Parks,69980-000,null,Brasil,-8.065346,-72.870949,Organic,2025-01-17T03:31:46.148896+00:00,POINT(-72.87094866 -8.065346116)
1,76025,Nancy,Richardson,nancyrichardson@example.com,23,F,Acre,6821 Charles River,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2024-06-22T15:54:00+00:00,POINT(-67.83560991 -9.945567619)
2,35516,Elizabeth,Cline,elizabethcline@example.net,49,F,Aichi,25607 Brown Expressway Apt. 424,478-0046,Chita City,Japan,34.997588,136.852641,Search,2024-12-25T00:44:00+00:00,POINT(136.8526405 34.99758836)
3,19808,Travis,Bennett,travisbennett@example.org,63,M,Aichi,92737 Cameron Ranch Apt. 764,458-0801,Nagoya city,Japan,35.083066,136.965787,Search,2024-07-13T05:26:00+00:00,POINT(136.9657866 35.0830664)
4,65988,Shannon,Marshall,shannonmarshall@example.org,16,F,Aichi,8900 Jesse Pass Apt. 257,474-0011,Ofu City,Japan,35.020668,136.977982,Search,2024-10-26T16:03:00+00:00,POINT(136.977982 35.02066822)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,45113,Olivia,Callahan,oliviacallahan@example.org,42,F,Île-de-France,505 Gibson Centers Suite 867,93100,Montreuil,France,48.863506,2.448628,Organic,2024-08-13T11:41:00+00:00,POINT(2.448628269 48.86350633)
2236,31483,James,Mack,jamesmack@example.net,40,M,Île-de-France,311 Stewart Lodge,93100,Montreuil,France,48.863506,2.448628,Search,2024-09-28T11:33:00+00:00,POINT(2.448628269 48.86350633)
2237,10118,Patricia,Dean,patriciadean@example.org,35,F,Île-de-France,30608 Mcpherson Stravenue,93270,Sevran,France,48.938679,2.530645,Search,2024-11-24T13:45:00+00:00,POINT(2.530645356 48.93867852)
2238,39568,David,Stokes,davidstokes@example.com,67,M,Île-de-France,407 Lori Rest,77000,Vaux-le-Pénil,France,48.522743,2.678303,Organic,2024-11-29T08:49:00+00:00,POINT(2.67830311 48.52274349)
2239,52363,Denise,Li,deniseli@example.com,46,F,Île-de-France,84190 Roberts Camp,77124,Chauconin-Neufmontiers,France,48.968343,2.844198,Search,2024-12-17T00:27:00+00:00,POINT(2.844198191 48.96834299)