In [13]:
import requests
import pandas as pd

In [14]:
API_url = "https://ecommerce-api-production-50293729231.europe-west10.run.app"

In [15]:
# Carry out health check
response = requests.get(url=API_url + '/')
print(response.status_code)
response.json()

200

{'health_check': 'OK'}

In [16]:
# Carry out info check
response = requests.get(url=API_url + '/info')
print(response.status_code)
response.json()

200

{'name': 'The Look eCommerce API',
 'Description': 'API to recommend products for shoppers and identify upcoming high value shoppers'}

In [17]:
# Test upcoming shopper prediction function
response = requests.get(url=API_url + '/upcoming_shoppers')
print(response.status_code)
pd.DataFrame(response.json())

200

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at,user_geom
0,1908,Sierra,Kennedy,sierrakennedy@example.org,18,F,Anhui,83387 Lisa Circles Apt. 141,235001,Shan Tou,China,33.949085,116.768165,Search,2024-11-14T09:03:00+00:00,POINT(116.7681646 33.9490851)
1,59465,Kari,Tyler,karityler@example.org,70,F,Anhui,613 Ford Plaza,246001,Enshi Tujia Miao Autonomous Prefecture,China,30.534756,117.057618,Search,2024-11-30T12:32:00+00:00,POINT(117.0576184 30.53475633)
2,77812,Sarah,Mathews,sarahmathews@example.net,13,F,Anhui,95623 Cantu Motorway Apt. 962,230039,Southwestern Buyi Miao Autonomous Prefecture,China,31.846065,117.240498,Organic,2024-09-19T00:31:00+00:00,POINT(117.2404975 31.84606486)
3,77014,Shannon,Delgado,shannondelgado@example.org,44,M,Anhui,116 Abigail Estate,230022,Changsha,China,31.830186,117.267413,Email,2023-10-19T14:52:00+00:00,POINT(117.2674126 31.83018607)
4,49067,Jacqueline,Whitney,jacquelinewhitney@example.net,51,F,Anhui,681 Kevin Port,230002,Taiyuan,China,31.840068,117.314634,Search,2023-05-20T00:12:00+00:00,POINT(117.314634 31.84006754)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,42107,Richard,Riley,richardriley@example.com,28,M,England,37329 Joann Place,N7,London,United Kingdom,51.553036,-0.117231,Search,2024-11-26T08:48:00+00:00,POINT(-0.117231478 51.55303563)
2298,24601,George,Jimenez,georgejimenez@example.com,38,M,England,740 Rachel Village Suite 250,N1,London,United Kingdom,51.538611,-0.095023,Search,2024-10-11T05:39:00+00:00,POINT(-0.09502336103 51.53861081)
2299,68510,Joe,Harris,joeharris@example.com,30,M,England,0890 Harrell Key Suite 677,SE15,London,United Kingdom,51.470666,-0.061515,Organic,2025-01-11T13:36:00+00:00,POINT(-0.06151463185 51.47066563)
2300,13356,Chloe,Reynolds,chloereynolds@example.net,62,F,England,8067 Rodriguez Harbor,E7,London,United Kingdom,51.549355,0.030873,Search,2024-11-09T18:24:00+00:00,POINT(0.0308726476 51.54935484)
2301,98213,Frank,Kerr,frankkerr@example.org,64,M,England,47039 Chapman Trail,SE2,London,United Kingdom,51.488647,0.119908,Organic,2025-01-06T04:11:00+00:00,POINT(0.1199083102 51.48864658)

In [18]:
# Test getting recommended products
params = {"customer_id": 1908}
response = requests.get(url=API_url + '/recommend_products', params=params)
print(response.status_code)
pd.DataFrame(response.json())

200

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,16328,9.578459,Tops & Tees,Canterbury of New Zealand Men's Brian Long Sle...,Canterbury of New Zealand,18.209999,Men,FEC52D41A265530AEDD9CB7794E32ED9,1
1,16032,33.272250,Tops & Tees,Billabong Oxlee Flannel Shirt - Long-Sleeve - ...,Billabong,59.950001,Men,00E16B766EA96E422A61CA6EEA9C146B,9
2,16939,22.306000,Tops & Tees,Billabong Men's Essential Thermal Shirt,Billabong,38.000000,Men,50BB9595EB8BC365BA5E12C0D6E47B60,9
3,687,15.989000,Tops & Tees,Kirra Womens Knit Shirting Long Sleeve Tee,Kirra,29.500000,Women,7F5D04D189DFB634E6A85BB9D9ADF21E,2
4,19,13.432500,Tops & Tees,Billabong Aussies T-Shirt - Short-Sleeve - Wom...,Billabong,22.500000,Women,1F0E3DAD99908345F7439F8FFABDFFC4,9
5,15294,5.160000,Plus,K. Bell Socks Women's 6 Pack Heather Animal Socks,K. Bell,10.000000,Women,2EBB6C06BDC16EF37EC965C6B325B5C6,5
6,15614,5.354640,Plus,K. Bell Socks Women's Cow Toe Socks,K. Bell,9.990000,Women,8F57F8197501FE0C3D8913E717632812,5
7,15648,6.105300,Plus,K. Bell Socks Women's 12-Pack No Show Sporty C...,K. Bell,12.990000,Women,A41A6A3856EE3C8C2816D4828B64F560,5
8,9225,5.910000,Socks & Hosiery,K. Bell Socks Womens Merino Paisley Crew Socks,K. Bell,15.000000,Women,B8A6550662B363EB34145965D64D0CFB,5
9,9481,4.812000,Socks & Hosiery,K. Bell Socks Women's 6-Pack Solid No Show Socks,K. Bell,12.000000,Women,689016F6EE80EF507E2F5D67614B4BE8,5
10,6190,8.536450,Leggings,Capelli New York Ladies Spandex Corduroy Legging,Capelli New York,14.950000,Women,16837163FEE34175358A47E0B51485FF,5
11,5488,6.366690,Pants & Capris,Capelli New York Ladies Solid Gauze Wide Leg P...,Capelli New York,11.990000,Women,56C3B2C6EA3A83AAEEFF35EEB45D700D,5
12,9048,5.198250,Socks & Hosiery,Capelli New York Ladies Tall Rain Boot Liner W...,Capelli New York,11.950000,Women,319A67432F51ED53938542B809320DD2,5
13,9124,5.258000,Socks & Hosiery,Capelli Leopard Faux Fur Cuff Boot Liner,Capelli New York,11.950000,Women,83A368F54768F506B833130584455DF4,5
14,9237,5.348000,Socks & Hosiery,Steve Madden Legwear Women's Boot Liner Fashio...,Steve Madden,14.000000,Women,9CE3D416394A5C9A29756027FF8CB37A,8
15,3067,134.400001,Active,Mountain Hardwear Women's Citilicious Coat,Mountain Hardwear,300.000000,Women,FEDF67D6F3D7341C1C1E8A54774987D3,7
16,8604,191.519999,Outerwear & Coats,Arc'teryx Women's Lanea Long Coat,Arc'teryx,399.000000,Women,0996DD16B0020A17A26B94F4675FD3DA,3
17,8676,21.645671,Outerwear & Coats,Women's Guide Gear Trailite Long Coat,Guide Gear,49.990002,Women,9F6F2381BC56EF668E94F6D1FB4F6309,3
18,8700,34.635669,Outerwear & Coats,Women's Guide Gear Snowflake Jacket,Guide Gear,79.989998,Women,3B036B877A6A074D7DBFC706FE868C1D,3
19,8584,147.000000,Outerwear & Coats,Mountain Hardwear Women's Citilicious Coat,Mountain Hardwear,300.000000,Women,8E5231F0EADAFD174B670E838E42D97D,7