# Notebook containing code to test the API

In [10]:
import requests
import pandas as pd

In [2]:
API_url = "https://product-recs-api-50293729231.europe-west10.run.app"

In [3]:
# Carry out health check
response = requests.get(url=API_url + '/')
print(response.status_code)
response.json()

200

{'health_check': 'OK'}

In [4]:
# Carry out info check
response1 = requests.get(url=API_url + '/info')
print(response1.status_code)
response1.json()

200

{'name': 'Product Recommendation',
 'Description': 'Search API to identify similar products to a customers previous purchases'}

In [12]:
# Test getting recommended products
params = {"customer_id": 2}
response2 = requests.get(url=API_url + '/recommend_products', params=params)
print(response2.status_code)
pd.DataFrame(response2.json())

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,98,21.714571,Tops & Tees,Patty Women Cowl Neck Button Embellished Ruche...,Patty,39.990002,Women,ED3D2C21991E3BEF5E069713AF9FA6CA,1
1,162,20.084261,Tops & Tees,Patty Women Smart V Neck Ruched Long Sleeve Bl...,Patty,34.990002,Women,82AA4B0AF34C2313A562076992E50AA3,1
2,222,14.982660,Tops & Tees,Patty Women Fitted One shoulder Ruched Arm Lon...,Patty,28.980000,Women,BCBE3365E6AC95EA2C0343A2395834DD,1
3,228,18.897540,Tops & Tees,Patty Women Fabulous Plunge Ruched Long Sleeve...,Patty,32.980000,Women,74DB120F0A8E5646EF5A30154E9F6DEB,1
4,235,23.354161,Tops & Tees,Patty Women Long Sleeves Ruched Turtleneck Tun...,Patty,39.990002,Women,577EF1154F3240AD5B9B413AA7346A1E,1
5,13636,40.524901,Accessories,HOBO Women's Rachel Vintage VI-3356 Wallet,HOBO,103.910004,Women,8E887CF8E64AB8E7173701A979476567,7
6,13976,31.263841,Accessories,Hobo Women's Sadie VI-32059AUTP Wallet,HOBO,72.370003,Women,0E19A8BAC63F97A513063DCB9A64442B,7
7,14175,31.263841,Accessories,Hobo Women's Anya VN-20011AMB Wallet,HOBO,72.370003,Women,A3DFEC8B6A89762B454F0B5E660C2E78,7
8,14250,20.412540,Accessories,Hobo Women's Millie VI-3978BOR Wallet,HOBO,55.619999,Women,FB465909B8627E4912B4A32D1030164C,7
9,15286,53.721472,Plus,HOBO Women's Rachel Vintage VI-3356 Wallet,HOBO,103.910004,Women,865E434F7F48E0E93F69CBB938B06809,7

In [11]:
# Test upcoming shopper prediction function
response3 = requests.get(url=API_url + '/upcoming_shoppers')
print(response3.status_code)
pd.DataFrame(response3.json())

200

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at,user_geom
0,3151,Ronald,Lewis,ronaldlewis@example.net,43,M,Aichi,44486 Kelly Mountain Suite 784,476-0002,Tokai-shi,Japan,35.052461,136.917416,Email,2024-10-14T12:44:00+00:00,POINT(136.9174159 35.05246054)
1,80581,Brian,Ward,brianward@example.net,44,M,Alabama,02574 Pitts Prairie Apt. 218,35405,Tuscaloosa,United States,33.115090,-87.542540,Search,2024-11-02T03:28:00+00:00,POINT(-87.54254028 33.1150898)
2,57155,Daniel,Barron,danielbarron@example.com,55,M,Alabama,3887 Lisa Turnpike,35211,Birmingham,United States,33.451494,-86.870240,Search,2024-07-28T02:06:00+00:00,POINT(-86.87023996 33.45149416)
3,82826,Stephen,Collins,stephencollins@example.org,17,M,Alabama,04843 Bethany Shores Apt. 314,35810,Huntsville,United States,34.800139,-86.604049,Search,2024-12-10T02:11:00+00:00,POINT(-86.60404855 34.80013855)
4,64305,Cheryl,Mcconnell,cherylmcconnell@example.com,28,F,Alabama,07871 Ashley Shores Apt. 920,35801,Huntsville,United States,34.725968,-86.554018,Search,2022-08-10T00:14:00+00:00,POINT(-86.55401821 34.72596807)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,21575,Grace,Nguyen,gracenguyen@example.net,55,F,Île-de-France,36265 Shelby Court,94130,Nogent-sur-Marne,France,48.836572,2.481751,Email,2024-06-09T06:59:00+00:00,POINT(2.481750922 48.83657196)
2324,99803,Christine,Bonilla,christinebonilla@example.com,55,F,Île-de-France,453 Rodriguez Cliff Suite 770,93190,Livry-Gargan,France,48.920007,2.535652,Search,2024-12-28T12:03:00+00:00,POINT(2.535651622 48.9200074)
2325,57188,Amber,White,amberwhite@example.com,22,F,Île-de-France,4435 Stone Estate Apt. 616,77500,Chelles,France,48.884269,2.596903,Search,2024-12-25T04:13:00+00:00,POINT(2.596902743 48.88426854)
2326,86284,Gina,Hooper,ginahooper@example.com,24,F,Île-de-France,1156 Laura Land,77190,Villiers-en-Bière,France,48.504411,2.614368,Facebook,2024-09-05T17:45:00+00:00,POINT(2.614367803 48.50441139)
2327,9138,Lacey,Woods,laceywoods@example.com,19,F,Île-de-France,1564 Brandon Springs Apt. 223,77600,Bussy-Saint-Georges,France,48.836374,2.733115,Search,2024-11-24T15:09:00+00:00,POINT(2.733115209 48.83637355)